nav.topNav
    a.logo(href="/") JSProvingGround
    ul
        li.navBox.active
            a(href="/") Somewhere
        li.navBox
            a(href="/") Other
        li.navBox
            a(href="/") Than
        li.navBox.right
            a(href="#about") About
